@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Corben&display=swap');

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333; /* Dark gray background */
  color: #ffffff; /* White text color */
  padding: 15px 20px; /* Adjust the top and bottom padding to control the header's height */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Abril Fatface', cursive;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.app-header:hover {
  background-color: #444444; /* Darker gray background on hover */
}

.app-title {
  font-size: 36px;
  background-clip: text;
  -webkit-background-clip: text; /* For Safari support */
  color: transparent;
  background-image: linear-gradient(to bottom, #000000, #000000); /* Adjust gradient colors as needed */
  transition: font-size 0.3s ease; /* Smooth font size transition */
}

.button-container {
  display: flex;
  gap: 20px;
}

.header-button {
  background: none;
  font-family: 'Corben', cursive;
  border: none;
  color: #ffffff; /* White text color for buttons */
  font-size: 16px;
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: all 0.3s ease; /* Smooth all property transitions */
}

.header-button.active {
  border-bottom: 3px solid #229eae; /* Add a white line underneath the active button */
  transform: scale(1.1); /* Scale up the active button slightly */
}
