.admin-login {
    background-color: #080c0f;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    margin-top: 0px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.2s ease,
      border-radius 0.2s ease;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 70%;
  }
  
  .admin-login:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    border-radius: 24px;
  }

  .user-login {
    background-color: #080c0f;
    color: #ffffff;
    border: none;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.2s ease,
      border-radius 0.2s ease;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 80%;
  }
  
  .user-login:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    border-radius: 24px;
  }



  h1{
    font-size: xx-large;
    text-decoration: underline;
    position: absolute;
    top: 5%;
    left: 20%;
  }

  img{
    border : 2px solid black;
    /* width: 150%; */
    position: absolute;
    right: 5%;
    width: 25%;
    top: 25%;
  }

  h3{
    position: absolute;
    right: 33%;
    margin-left: 5%;
    top: 20%;
    text-align: justify;
    
  }